.display-4 {
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
    font-size: 42px;
}

#city {
    font-family: 'M PLUS 1P' sans-serif;
}

#weatherResultsColumn {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    height: 200px;
    width: 50%;
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
    font-size: 24px;
    float: right;
    
}

#currentWeatherRow {
    text-align: center;
}

.form-input {
    display: inline-block;
}

#cityHistoryColumn {
    float: left;
}
#fiveDayForecast {
    float: left;
}